﻿@using CoreMongo.Web.Util
@model CoreMongo.Web.Domain.Models.Pedido

<h4>Pedido</h4>
<hr />

<form asp-action="Create">
    <input type="hidden" value="@Model.ToJson()" disabled id="object" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 form-group">
            <label asp-for="Descricao" class="control-label">Descrição</label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Data" class="control-label"></label>
            <input asp-for="Data" class="form-control" type="date" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 form-group">
            <label class="control-label">Produto</label>
            <input class="form-control" id="txtProdutoID" />
        </div>
        <div class="col-md-3 form-group">
            <label class="control-label">Valor</label>
            <input class="form-control" id="txtValor" />
        </div>
        <div class="col-md-3 form-group">
            <label class="control-label">Observação</label>
            <input class="form-control" id="txtObservacao" />
        </div>
        <div class="col-md-3">
            <label class="control-label">&nbsp;</label>
            <button type="button" class="form-control btn btn-primary" onclick="AdicionarItem();">Adicionar Item</button>
        </div>
    </div>

    <div class="row @(Model.Itens.Any() ? "" : "d-none")" id="divItens">
        <div class="col-md-12 form-group small" id="tbItens">
            <table class="table">
                <thead>
                    <tr>
                        <td>Produto</td>
                        <td>Valor</td>
                        <td>Observação</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    @*@for (int i = 0; i < Model.Itens.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="Itens.Index" value="@i" />
                                    <input type="hidden" asp-for="Itens[i].ProdutoID" />
                                    <input type="hidden" asp-for="Itens[i].Valor" />
                                    <input type="hidden" asp-for="Itens[i].Observacao" />
                                    @Model.Itens[i].ProdutoID
                                </td>
                                <td>
                                    @Model.Itens[i].Valor
                                </td>
                                <td>
                                    @Model.Itens[i].Observacao
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="Excluir(this);">Excluir</button>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(function () {
        let obj = JSON.parse($("#object").val());

        obj.Itens.forEach(ListarItem);
    })

    function Excluir(el) {
        $(el).closest("tr").remove();

        if (!$("#tbItens tbody tr").length) {
            $("#divItens").addClass("d-none");
        }
    }

    function AdicionarItem() {
        let produtoID = document.getElementById("txtProdutoID").value;
        let valor = document.getElementById("txtValor").value;
        let observacao = document.getElementById("txtObservacao").value.trim();

        if (!produtoID) {
            alert("É necessário informar um produto");
            return;
        }

        ListarItem({
            ProdutoID: produtoID,
            Valor: valor,
            Observacao: observacao
        });
    }

    function ListarItem(item) {
        let id = NewID();

        let row = '<tr>';
        row += '<td>';
        row += '<input type="hidden" name="Itens.Index" value="' + id + '"/>';
        row += '<input type="hidden" name="Itens[' + id + '].ProdutoID" value="' + item.ProdutoID + '"/>';
        row += '<input type="hidden" name="Itens[' + id + '].Valor" value="' + item.Valor + '"/>';
        row += '<input type="hidden" name="Itens[' + id + '].Observacao" value="' + item.Observacao + '"/>' + item.ProdutoID + '</td>';
        row += '<td>' + item.Valor + '</td>';
        row += '<td>' + item.Observacao + '</td>';
        row += '<td><button type="button" class="btn btn-danger" onclick="Excluir(this);">Excluir</button></td>';
        row += '</tr>';

        $("#tbItens tbody").append(row);
        $("#divItens").removeClass("d-none");
    }

    function NewID () {
        // Math.random should be unique because of its seeding algorithm.
        // Convert it to base 36 (numbers + letters), and grab the first 9 characters
        // after the decimal.
        //return '_' + Math.random().toString(36).substr(2, 9);

        return '_' + (new Date().getUTCMilliseconds().toString() + new Date().getTime().toString()).toString();
    };
    </script>
}
