﻿@model IEnumerable<SelectListItem>

<option value="">Selecione</option>

@foreach (var item in Model)
{
    @if (item.Selected)
    {
        <option value="@item.Value" selected>@item.Text</option>
    }
    else
    {
        <option value="@item.Value">@item.Text</option>
    }
}
