﻿@model CoreMongo.Web.Domain.Models.Despesa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Despesa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" type="date" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" type="number" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeParcelas" class="control-label"></label>
                <input asp-for="QuantidadeParcelas" class="form-control" type="number" />
                <span asp-validation-for="QuantidadeParcelas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pago" /> @Html.DisplayNameFor(model => model.Pago)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaID" class="control-label"></label>
                @*<input asp-for="CategoriaID" class="form-control" />*@
                @*<select asp-for="CategoriaID" asp-items="ViewBag.Categorias">
                        <option>Selecione</option>
                    </select>*@

                <select asp-for="CategoriaID" class="form-control">
                    <vc:categoria selected-id="@Model.CategoriaID"></vc:categoria>
                </select>
                <span asp-validation-for="CategoriaID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
