﻿@model CoreMongo.Web.Domain.Models.Categoria

@{
    ViewData["Title"] = "Inserir";
}

<h1>Inserir</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Inserir">
            @*<partial name="_cadastro" />*@
            
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                @*<span asp-validation-for="Descricao" class="text-danger"></span>*@
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}