﻿@model IEnumerable<CoreMongo.Web.Domain.Models.Categoria>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 65%">
                Descrição
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Ativo, "_SimNaoTemplate")*@
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
